@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    font-family: "Roboto";
    max-width: 1280px; 
    margin: 0 auto;

}

.logotip {
    font-size: 80px;
    color: #4BCAFF;
    font-family: "Roboto";

}
.logotip-Ra {
    color: black;
}
.nav-top {
    display: flex;
    background: #35444F;
    height: 72px;
    justify-content: center;
    margin: 38px 0 0 0;
    flex-grow: 1;
}
.nav-top a {
    border-left: 1px solid white;
    border-right:1px solid white;
    color: white;
    text-decoration: none;
    font-size: 27px;
    padding: 24px 35px 18px 32px;
}

.nav-top a:nth-child(2):hover {
    background: #222F3A; 
}
.nav-left {
   display: flex;
   border: 1px solid black;
   flex-direction: column;
   width: 344px;
   margin: 48px 26px 0 0;


}
.nav-left a {
    font-size: 27px;
    height: 81px;
    text-decoration: none;
    color: #485863;
    padding-left: 44px;
    padding-top: 25px;

}

.nav-left a:nth-child(2):hover  {
    background: #DBDBDB;
    color: black;
    padding-left: 90px;

}
.image-wrap {
    border: 1px solid black;
}
.image {
    padding: 75px 280px;  
}
.image:hover {
   transform: scale(1.25);
   transition: 1s;
   
}
.content {
    display: flex;
    
    

}
.image-content {
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0 0 26px;

}
.nav-bottom {
    display: flex;
    background:rgba(99, 105, 110, 0.48);;
    width: 1280px;
    height: 69px;
    justify-content: left;
    flex-grow: 1;
    margin: 54px 0 30px 0px;



}
.nav-bottom a {
    font-size: 28px;
    text-decoration: none;
    color: #0C1927;
    margin: 20px 0 21px 40px;
}
.nav-bottom a:nth-child(2):hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    margin-bottom: 13px;


}
.copyright {
    font-size: 24px;
    padding: 20px 0 21px 135px;
    color: #010101;

}